.main-chat
  .main-chat__group-info
    .main-chat__group-info--group
      .group-name
        asdf
      %ul.member-list
        Member：
        %li.member-list__members
          asdf
    = link_to "#", class: "main-chat__group-info--edit" do
      Edit
  .main-chat__message-list
  .main-chat__message-form