.main-chat
  .main-chat__group-info
    .main-chat__group-info--group
      .group-name
        asdf
      %ul.member-list
        Member：
        %li.member-list__members
          asdf
    .main-chat__group-info--edit
  .main-chat__message-list
  .main-chat__message-form