.main-chat
  .main-chat__group-info
    .main-chat__group-info--group
      .group-name
        asdf
      %ul.member-list
        Member：
        %li.member-list__members
          asdf
    = link_to "#", class: "main-chat__group-info--edit" do
      Edit
  .main-chat__message-list
    .message-box
      .message-box__info
        .message-box__info--username
          asdf
        .message-box__info--date
          2021年04月12日 16時52分
      .message-box__message
        .message-box__message--content
          hello
    .message-box
      .message-box__info
        .message-box__info--username
          asdf
        .message-box__info--date
          2021年04月12日 16時52分
      .message-box__message
        .message-box__message--content
          good bye
  .main-chat__message-form