.side-bar
  .side-bar__user-name
    .side-bar__user-name--box
      .side-bar__user-name--box--user_name
        masa
      .side-bar__user-name--box--aicon
        = link_to "#", class: "edit-button" do
          = icon('far', 'edit fa-xs')
        = link_to "#", class: "cog-button" do
          = icon('fas', 'cog fa-xs')
  .side-bar__group-name