.side-bar
  .side-bar__user-name
    .side-bar__user-name--box
      .side-bar__user-name--box--user_name
        masa
      .side-bar__user-name--box--aicon
        = link_to "#", class: "edit-button" do
          = icon('far', 'edit fa-xs')
        = link_to "#", class: "cog-button" do
          = icon('fas', 'cog fa-xs')
  .side-bar__group-name
    .side-bar__group
      .side-bar__group--name
        techcamp
      .side-bar__group--message
        hello
    .side-bar__group
      .side-bar__group--name
        techis
      .side-bar__group--message
        awesome
    .side-bar__group
      .side-bar__group--name
        samurai
      .side-bar__group--message
        cool