* {
    box-sizing: border-box;
  }

.wrapper {
  display: flex;

  .side-bar {
      height: 100vh;
      width: 300px;
      background-color: #253141;

    .side-bar__user-name {
        height: 100px;
        background-color: #253141;
        display: flex;
        justify-content: center;
        align-items: center;
    
      .side-bar__user-name--box {
          height: 20px;
          width: 260px;
          background-color: #d8d8d8;
          display: flex;
          justify-content: space-between;
        
        .side-bar__user-name--box--user_name {
          line-height: 20px;
        }

        .side-bar__user-name--box--aicon {
          width: 60px;
          background-color: white;
        }

      }
    }

    .side-bar__group-name {
        height: calc(100vh - 100px);
        background-color: #2f3e51;
    }
  }

  .main-chat {
      height: 100vh;
      width: calc(100vw - 300px);
      background-color: #ffffff;

    .main-chat__group-info {
      height: 100px;
      background-color: #ffffff;
    }

    .main-chat__message-list {
        height: calc(100vh - 190px);
        background-color: #fafafa;
    }

    .main-chat__message-form {
        height: 90px;
        background-color: #d2d2d2;
    }
  }
}