* {
    box-sizing: border-box;
  }

.wrapper {
  display: flex;

  .side-bar {
      height: 100vh;
      width: 300px;
      background-color: #253141;

    .side-bar__user-name {
        height: 100px;
        background-color: #253141;
    }

    .side-bar__group-name {
        height: calc(100vh - 100px);
        background-color: #2f3e51;
    }
  }

  .main-chat {
      height: 100vh;
      width: calc(100vw - 300px);
      background-color: #ffffff;

    .main-chat__group-info {
      height: 100px;
      background-color: #ffffff;
    }
  }
}